# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folder
env/
venv/

# Ignore VS Code settings
.vscode/

# Ignore uploads directory
uploads/

# Ignore environment variable files
.env

# Ignore logs
*.log
